{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<section>
<div class="aboutus">
<h1 class="display-5">OUR VISION</h1>
<p  >We believe in a world where everyone can realise their potential.</p>
</div>



<div class="container px-4">
  <div class="row gx-5">
    <div class="col">

  <div id="aboutuscontainer" class="container">

</div>
</div></div>
    </div>
    <div class="col">
      <div style="float: right;" class="p-3 border bg-light"><div class="aboutus1"><p><h1 class="display-5">OUR MISSION</h1>
       <p class="lead"> We are committed to improving the lives of vulnerable communities in low-income countries around the world, with a particular focus on women and children. With the right support and access to new opportunities and choices, we believe that those living in extreme poverty can actively shape their own destinies and begin to thrive.</p>
</div></div>
    </div>
  </div>
</div>

<br>

<section id=aboutussec>
<div class="aboutus">
  <h1 class="display-5">OUR VALUES</h1>
  <p class="lead">Our work is defined by:</p>
  <div class="container">
  <div class="row">
    <div class="col align-self-start">
      <h1 class="display-6">RESPECT</h1>
      <p class="lead">for the communities we engage with</p>
    </div>
    <div class="col align-self-center">
      <h1 class="display-6">TRUST</h1>
      <p class="lead">that shapes our relationship with our partner organisations</p>
    </div>
    <div class="col align-self-end">
      <h1 class="display-6">INTEGRITY</h1>
      <p class="lead">that drives our commitment to accountability and continuous improvement</p>
    </div>
  </div>
</div>
</div>
</section>

<!-- our focuse areas starts here -->
<div style="padding:30px;">
  <h1 class="display-3">OUR FOCUS AREAS</h1>
  <p class="lead">We provide support to non-profit organisations across three key areas : </p>
</div>
<div class="container">
  <div class="row">
    <div class="col align-self-start">
      <img src="{{url_for('static', filename='save_the_children_info.jpg')}}" class="img-thumbnail"  alt="Access to basic services">
      <p class="lead">ACCESS TO BASIC SERVICES</p>
    </div>
    <div class="col align-self-center">
      <img src="{{url_for('static', filename='sustainable_livelihoods.jpg')}}" class="img-thumbnail" alt="Emergency response">
      <p class="lead">SUSTAINABLE LIVELIHOODS AND ECOSYSTEMS</p>
    </div>
    <div class="col align-self-end">
      <img src="{{url_for('static', filename='emergency_response.jpg')}}" class="img-thumbnail" alt="Emergency response">
      <p class="lead">EMERGENCY RESPONSE</p>

    </div>
  </div>
</div>

<!-- how we work starts here -->

<div style="padding:60px;"class="clearfix">

  <img src="{{url_for('static', filename='howwework.jpeg')}}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="How We Work">

  <h1 class="display-5" style="text-align:left; padding:30px;">HOW WE WORK</h1>
  <p class="lead" style="text-align:left; font-size:15px; padding;30px">
   We provide grants to non-profit organisations who share our values, align with our core funding areas and have a proven track record of creating long-term positive impact. Discover who we look for and how we support our partner organisations.
  </p>
  <a href="/how-we-work" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false"><p class="lead">DISCOVER MORE</p></a>

</div>
{% endblock %}