{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{{url_for('static', filename='emergency_crisis.jpeg')}}" class="d-block w-100" alt="Syrian refugees">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="caption" class="lead">EMPOWERING SYRIAN REFUGEE CHILDREN IN LEBANON </h5>
        <p id="caption" class="blockquote">The Syrian civil war has caused wide-scale displacement and put pressure on countries hosting refugees, especially for education. In Lebanon, 300,000 Syrian child refugees are out of school. This is due to parents being unable to afford transport, child labour and a lack of targeted support.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{url_for('static', filename='educate_girls_india.png')}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="caption" class="lead">ACCESS TO BASIC SERVICES</h5>
        <p id="caption" class="blockquote">In order for people to thrive, their basic needs must be met first – including good health, a quality education and access to nutritious food and clean water and sanitation. We’ve seen how a dose of antibiotics, a pair of glasses, a morning snack or a remedial education programme can be lifesaving or life changing. Providing access to these necessities is our primary focus.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='growing_rural_prosperity.jpeg')}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="caption" class="lead">EMPOWERING WOMEN IN CONFLICT-AFFECTED COUNTRIES</h5>
        <p id="caption" class="blockquote">Across the world, women face social, cultural and economic barriers to equality. These barriers are extreme for ultra-poor women in conflict-affected countries like Kosovo or Rwanda, where women’s voices are silenced, ignored, undervalued, and excluded – even from decisions that affect them.</p>
      </div>
    </div>
  </div>
  <button id="prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" data-bs-interval="false">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" data-bs-interval="false" >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section style="padding:40px;">
<h3 style="color:#25519c; text-align:left; font: Times New Roman, Georgia; padding: 30px; background-image: url_for('static', filename='about_us_image.jpeg')');" > .</h3>
<h1 style="color:#25519c;" class="display-5">We fund bold non-profit organisations that address the many challenges of poverty and drive long-term positive change in the poorest regions of the planet.</h1>
<br>
<a href="/aboutus" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false"><p class="lead">DISCOVER WHO WE ARE</p></a>
</section>

<!-- our focuse areas starts here -->
<div style="padding:30px;">
  <h1 class="display-3">OUR FOCUS AREAS</h1>
  <p class="lead">We provide support to non-profit organisations across three key areas : </p>
</div>
<div class="container">
  <div class="row">
    <div class="col align-self-start">
      <img src="{{url_for('static', filename='save_the_children_info.jpg')}}" class="img-thumbnail"  alt="Access to basic services">
      <p class="lead">ACCESS TO BASIC SERVICES</p>
    </div>
    <div class="col align-self-center">
      <img src="{{url_for('static', filename='emergency_response.jpg')}}" class="img-thumbnail" alt="Emergency response">
      <p class="lead">EMERGENCY RESPONSE</p>
    </div>
    <div class="col align-self-end">
      <img src="{{url_for('static', filename='sustainable_livelihoods.jpg')}}" class="img-thumbnail" alt="Emergency response">
      <p class="lead">SUSTAINABLE LIVELIHOODS AND ECOSYSTEMS</p>
    </div>
  </div>
</div>

<!-- our focus areas ends here -->

<!-- discover how we work section starts here -->
<div class="card" style="width: 50rem;">
  <img src="{{url_for('static', filename='discover-how-we-work.jpeg')}}" class="card-img-top" alt="How We Work">
  <div class="card-body">
    <h5 id="subheading"class="card-title">TOGETHER FOR A POSITIVE LASTING CHANGE</h5>
    <p class="lead"  style="text-align:left;">We provide grants to non-profit organisations who share our values, align with our core funding areas and have a proven track record of creating social impact</p>
    <a href="/how-we-work" class="btn btn-primary">DISCOVER HOW WE WORK</a>
  </div>
</div>
{% endblock %}