.logo
{
    width: 30%;
}

.title
{
    font: serif;
    color: #1c2a4f;
}

#header
{
    padding: 50px;
}

#subheading
{
    color: #0c3475;
    font-weight: bold;
    padding-bottom: 10px;
}

#subheading-2
{
    padding-bottom: 10px;
    font-weight:bold;
}
#navbartle
{
    font-size: 1px;
}
#discoverbutton
{
    background-color: white;
    color: black;
    border: none;
    border-color: white;

}


#accordion
{
     margin-bottom: 70px;
}

#discoverbutton:hover
{
    color: #6997e0;
}

.h3
{
    text-align: left;
}

#footerheadings
{
     font-size: 15px;
     font-weight:bold;
}

#footerlinks
{
    font-size: 10px;

}

#caption
{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:  15px 50px 30px;
}


#footer
{
    background-color: #1c2a4f;
    height: 70px;
    padding: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
}
#aboutussec
{
    background-color: #b8d6d0;
}

.aboutus1
{
    float: none;
}
.polaroid
{
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding: 20px;
}

#aboutuspolaroid
{
    width; 30%;
}

.aboutp
{
    font-size: 15px;
    padding: 20px;

}

.aboutus
{
    padding: 30px;
    float: none;
}

.container2
{
  text-align: center;
  padding: 30px;
}

.featured
{
    width: 400px;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}


main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
