{% extends "layout.html" %}

{% block title %}
    How We Work
{% endblock %}

{% block main %}

<h1 class="display-5" id="pageheading">HOW WE WORK</h1>

<div id="header" class="container-lg"><img src="{{url_for('static', filename='howweworkcoverphoto.jpeg')}}" class="img-fluid" alt="Who We Fund Cover Photo">
</div>
<div style="text-align:left;">
<h1 id="subheading" class="display-6">OUR FUNDING CRITERIA</h1>
<p id="subheading-2"class="lead">SHARED FOCUS AND VERIFIABLE IMPACT</p>

<p>We provide grants to non-profit organisations who:
    <li>Share our values: respect, trust, and integrity;</li>
    <li>Operate in our four focus areas: Access to basic services, Sustainable livelihoods and ecosystems, and Emergency response;</li>
    <li>Measure their impact through rigorous data collection; and</li>
<li>Are ambitious about scaling their work to benefit as many people as possible.</li>

In exceptional cases, we also fund early-stage initiatives that we believe will go on to create long-term positive impact.

<p id="subheading-2" style="padding-top:10px;" class="lead">PROACTIVE PARTNERING</p>

<p style="padding-top:10px;">We actively reach out to potential partners and perform our own due diligence. We don’t accept unsolicited proposals.</p>

<h1 id="subheading" class="display-6">HOW WE FUND</h1>
<p id="subheading-2" class="lead">A TRUE PARTNERSHIP</p>

<ul>Our partners are our allies in the fight against poverty and lack of opportunity. Our collaboration with them is based on dialogue, transparency, and trust that they know best.</ul>

<ul>We have simplified our processes to save our partners’ time and energy for their core work.</ul>

<ul>We visit their teams in the field to better understand local context and dynamics, the issues and challenges communities are facing, and how our partners’ work is progressing. </ul>

<p id="subheading-2" class="lead">LONG-TERM, FLEXIBLE FUNDING</p>

<ul>We provide flexible funding to our partners and commit to funding them for as long as they are delivering results.</ul>

<p id="subheading-2" class="lead">BEYOND MONEY</p>

In order to create long-term social impact, we offer our partners additional support beyond allocating grants.
This support can include

<li>Participating in strategy discussions</li>
<li>Making introductions to other funders or providing references</li>
<li>Investing in studies and research and sharing our learnings</li>
<li>Providing consulting services on specific topics, such as data science and behaviour change strategies</li>
<li>Promoting their work through Nukhba Philanthropy’s communication platforms</li>

<p id="subheading-2" style="padding-top:10px;" class="lead">WHAT WE DO NOT FUND</p>

Examples of areas the foundation does not fund:

<li>Direct donations or grants to individuals</li>
<li>Projects addressing health problems in developed countries</li>
<li>Political campaigns and legislative lobbying efforts</li>
<li>Building or capital campaigns</li>
<li>Projects that exclusively serve religious purposes</li>

</p>
</div>






{% endblock %}
